# Backend
DATABASE_URL=postgres://shop:shop@localhost:5432/shop
IMAGE_STORAGE_PATH=./images
PORT=3000
FIREBASE_PROJECT_ID=k8s-practice-app

# Frontend
API_URL=http://localhost:3000
FIREBASE_API_KEY=AIzaSyArt3z_05CcCodv2ed_8L3h2PY2z91kgNc
FIREBASE_AUTH_DOMAIN=k8s-practice-app.firebaseapp.com
FIREBASE_PROJECT_ID=k8s-practice-app
FIREBASE_STORAGE_BUCKET=k8s-practice-app.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=257579486757
FIREBASE_APP_ID=1:257579486757:web:a5d08bacb6f10fb7dff9cc
